$base-pink: #ff99f5;
$base-blue: #99f1ff;
$darker-pink: #fc70f8;
$darker-blue: #8acae8;

$base-black: #3a3a3a;
$base-white: #ffe0f1;
$softer-black: #4e4e4e;
$even-softer-black: #5f5f5f;

style 
{
    display: flex;
    justify-content: center;
}

@mixin centered 
{
    display: flex;
    justify-content: center;
    align-items: center;
}