@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/button.scss";
@use "./styles/variables.scss" as vars;

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: vars.$base-black;
}

body {
  margin: 0;
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
  color: #222; 
  weight: bolder;
}

canvas {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  
  #experience-canvas {
    height: 100%;
    width: 100%;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 999;
  display: none;
  
  background-color: #c0c0c0;
  border: 2px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #0a0a0a;
  border-bottom-color: #0a0a0a;
  box-shadow: inset 1px 1px 0px #ffffff, inset -1px -1px 0px #808080;
  padding: 3px;
}

.title-bar {
  background: linear-gradient(90deg, #000080, #1084d0);
  padding: 4px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-bar-text {
  color: white;
  font-weight: bold;
  font-size: 0.6em;
  letter-spacing: 1px;
  margin-left: 3px;
}

.window-body {
  padding: 10px;
}

.modal-exit-button {
  @include vars.centered;
  background-color: #c0c0c0;
  border: 2px solid;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-right-color: #000000;
  border-bottom-color: #000000;
  box-shadow: inset 1px 1px 0px #dfdfdf, inset -1px -1px 0px #808080;
  
  font-weight: bold;
  font-size: 16px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: black;
  padding-bottom: 2px;
  
  &:active {
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    box-shadow: inset 1px 1px 0px #808080, inset -1px -1px 0px #dfdfdf;
    padding-top: 2px;
    padding-left: 2px;
  }
}

.modal-title {
  text-align: left;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 2%;
}

.scroll-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.scroll-container {
  width: 700px;
  height: 500px;
  padding: 15px;
  overflow-y: auto;
  margin-right: 1%;
  margin-bottom: 1%;
  
  background-color: #ffffff;
  border: 2px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  box-shadow: inset 1px 1px 0px #000000, inset -1px -1px 0px #dfdfdf;
}

.card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.window-body img {
  box-sizing: border-box;
  border: 3px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}

.certificate-img {
  width: 150px;
  height: 150px;
  object-fit: cover; 
}

.social-container {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  justify-content: center;
  gap: 20px 40px;
  margin: 20px auto;
}

.logo {
  width: 80px;
  height: 80px;
  background-color: #eee;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.content {
  max-width: 500px;
}

.title {
  font-weight: bold;
  font-size: 1em;
}

.description {
  font-size: 0.75em;
  color: vars.$softer-black;
  margin-top: 10px;
}

.more-description {
  font-size: 0.5em;
  color: vars.$even-softer-black;
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  font-size: 0.5em;
  width: 250px;
  height: 50px;
  text-align: center;
  font-family: inherit;
  
  /* Inset 3D border */
  background-color: #ffffff;
  border: 2px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  box-shadow: inset 1px 1px 0px #000000, inset -1px -1px 0px #dfdfdf;
  
  &:focus {
    outline: none;
  }
}