@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/button.scss";
@use "./styles/variables.scss" as vars;

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cherry Bomb One';
  color: vars.$base-black;
}

canvas {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

:root 
{
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#experience 
{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  
  #experience-canvas 
  {
    height: 100%;
    width: 100%;
  }
}

.modal
{
  position: absolute;
  top: 50%;
  left: 50%;
  //max-width: 700px;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 999;
  display: none;
  background-color: vars.$base-white;
  border: 8px solid vars.$darker-blue;
  border-radius: 1.2rem;
}

.modal-title
{
  text-align: center;
  font-size: 1.25em;
  margin-top: 1%;
  margin-bottom: 1%;
}

.modal-exit-button 
{
  @include vars.centered;
  position: absolute;
  top: -2.3rem;
  left: -2.3rem;
  width: 60px;
  height: 60px;
  border: 8px solid vars.$base-pink;
  background-color: vars.$base-blue;
  border-radius: 1.2rem;
  cursor: pointer;
  transform: rotate(-10deg);
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    transform: rotate(5deg) scale(1.2);
  }
}

.scroll-wrapper 
{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.scroll-container 
{
  width: 700px;
  height: 500px;
  border: 2px solid vars.$darker-pink;
  border-radius: 1.2rem;
  padding: 10px;
  overflow-y: auto;
  background-color: vars.$base-blue;
  margin-right: 1%;
  margin-bottom: 1%;
}

.card 
{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.image 
{
  background-color: #eee;
  border: 2px solid vars.$even-softer-black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
  border-radius: 1em;
}

.social-container {
  display: grid;
  grid-template-columns: repeat(2, 80px); /* 2 columnas fijas de 80px */
  justify-content: center; /* Centra las columnas horizontalmente */
  gap: 20px 40px; /* espacio entre filas y columnas */
  margin: 20px auto;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 1.2rem;
  background-color: #eee;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 1em;
}

.logo:hover {
  transform: scale(1.1);
}

.certificate-img 
{
  width: 150px;
  height: 150px;
  object-fit: cover; 
  border-radius: 1em;
}

.content 
{
  max-width: 500px;
}

.title 
{
  font-weight: bold;
  font-size: 1em;
}

.description
{
  font-size: 0.75em;
  color: vars.$softer-black;
  margin-top: 10px;
}

.more-description
{
  font-size: 0.5em;
  color: vars.$even-softer-black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.skills 
{
  margin-top: 5px;
  font-size: 0.5em;
}

input
{
  font-size: 0.5em;
  width: 250px;
  height: 50px;
  text-align: center;
}